name: frontend

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: checkout repository
              uses: actions/checkout@v3

            - name: setup node
              uses: actions/setup-node@v3
              with:
                  node-version: 16.x

            - name: Install Node dependencies
              run: yarn install --frozen-lockfile

            - name: Build
              run: yarn build
